body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(78, 132, 39);
  background: linear-gradient(
    90deg,
    rgba(78, 132, 39, 1) 38%,
    rgba(51, 131, 37, 1) 59%,
    rgba(9, 121, 104, 1) 79%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#coloreando {
  color: green;
}

.cantidad {
  background-color: red;
  text-align: center;
  color: green;
  border-radius: 100px;
}

.enlace {
  padding-left: 2rem;
  text-decoration: none;
  color: inherit;
}

button {
  color: red;
}
